#logo{
	width: 64px;
height: 64px;
}

#registruotis {
position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1000;
}
#ivertinimas {
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 1000;
}

#skambinti{
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1000;
}

/* The container <div> - needed to position the dropdown content */
.dropdownbut {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentas {
  display: none;
  position: absolute; 
  text-align: center;  
  top: 65px;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentas a {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentas a:hover {background-color: #a8b5ff;} 

/* Show the dropdown menu on hover */
.dropdownbut:hover .dropdown-contentas {display: block;}

#virsus, .cont {
  background-color: #7474d6;
}

.doctor-ph {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  color: grey-text text-lighten;
}
.slick-list {

  padding: 40px 60px;
  background-size: cover;
  background-position: center center;
}

.content-info {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  text-align: justify;
}

/*.main-info {
  font-family: "Times New Roman", Georgia, serif;
  position: center;
  color: white;
  text-shadow: 2px 2px black;
}*/

.antraste {
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  background-color: #a8b5ff;
  padding: 20px;
  color: white;
  font-size: 50px;
}
.antraste-be-fono{
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  font-size: 50px;
}
.antraste-ant-pav, .antraste-ant-pav h3{
  font-family: "Times New Roman", Georgia, serif;
  color: white;
  text-shadow: 2px 2px black;
}
.skyriaus-antraste {
  font-family: "Times New Roman", Georgia, serif;
  position: absolute;
  top: 300px;
  left: 16px;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px black;
}

.material-tooltip {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 17px;
  color: white;
  background-color: #26a69a; 
}

@media screen and (max-width: 800px) {
  .skyriaus-antraste {
    top: 30vh;
    font-size: 60px;
  }
  .parallax-container {
    height: 40vh;
  }
}

@media screen and (max-width: 600px) {
  .skyriaus-antraste {
    font-size: 40px;
  }
  #logo {
    width: 56px;
    height: 56px;
    }
  .material-tooltip{
    display:none;
   }
}

.taktai, .modal .modal-footer, .sidenav{
  background: #ebebff;
}

hr.linija {
  border: 1px solid #a8b5ff;
}

.content-info-small {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 17px;
  color: white;
  background-color: #a8b5ff;
}
label {
font-family: "Times New Roman", Georgia, serif;
font-size: 17px;
color: black;
}

.navigacija {
  background-color: white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
ul.breadcrumbas {
  padding-left: 20px;
}
ul.breadcrumbas li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumbas li+li:before {
  padding: 8px;
  color: #a8b5ff;
  content: ">\00a0";
}
ul.breadcrumbas li a{
  color: #a8b5ff;
  text-decoration: none;
}
ul.breadcrumbas li {
  color: #7474d6;
}
ul.breadcrumbas li a:hover {
  color: #7474d6;
  text-decoration: underline;
}
.index_mygtukai {
    height: auto;
    line-height: 1.5;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;

}
.pranesimas_ok {
color: green;
}

.pranesimas_ne_ok {
  color: red;
}
.mygtukas-vert {
  background-color: #a8b5ff;
  width: 50%;
  height: 100px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.card .card-reveal{
  font-family: "Times New Roman", Georgia, serif;
  font-size: 19px;
  color: white;
  background-color: #a8b5ff;
}
